<% include header %>
      <div class="jumbotron text-center">
          <h1><span class="fa fa-lock"></span>Node Administrator</h1>
          <div class="container">
            <p>
              Authenticated request
            </p>
          </div>
      </div>
<% include footer %>
